<footer>
    <nav>
        <div><a href="/">Home</a></div>
        <div><a href="/docs">Docs</a></div>
        <div><a href="https://github.com/ryanmphill/shodo-static-gen">GitHub</a></div>
        <div><a href="https://pypi.org/project/shodo-ssg/">PyPi</a></div>
    </nav>
</footer>