<header class="site-header">
    {# {% if article.category == "docs" %}
        <button class="docs-sidebar__toggle" aria-label="Toggle documentation sidebar" aria-expanded="false">
            ☰
        </button>
    {% endif %} #}
    <nav>
        <div><a href="/">Home</a></div>
        <div><a href="/docs">Docs</a></div>
        <div><a href="https://github.com/ryanmphill/shodo-static-gen">GitHub</a></div>
        <div><a href="https://pypi.org/project/shodo-ssg/">PyPi</a></div>
    </nav>
</header>