footer {
    padding: 20px 8px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

footer nav {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer nav a,
footer nav a span {
    font-weight: 500;
    text-decoration: none;
}

.rss-link {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.rss-icon {
    width: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
}