* {
    box-sizing: border-box;
}

:root {
    --color-primary: #ad0303;
    --color-secondary: rgb(255, 108, 59);
    --color-background: #fff;
    --color-text: #333333;
    --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    margin: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Dark theme support */
.dark-theme body {
    background-color: #1e0000;
    color: #e0e0e0;
    --color-text: #e0e0e0;
    --color-background: #260000;
    --color-primary: #d45858;
}

p, div, span, li, a {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary);
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Gradient for h1 and h2 */
h1, h2 {
    color: #ad0303;
    background-image: linear-gradient(45deg, #ad0303 , #c11401 25%, #eb280a 50%, #FF3300 75%, rgb(255, 108, 59) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.dark-theme h1, .dark-theme h2 {
    color: #ff7e5f;
    background-image: linear-gradient(45deg, rgb(255, 108, 59) , #FF3300 25%, #eb280a 50%, #cf1e0a 75%, #f53535 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

main {
    padding: 20px 10px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    text-wrap: wrap;
    overflow-wrap: break-word;
}

pre {
    background-color: #2d2d2d;
    color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code:not(pre code) {
    background-color: #e2e2e2;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
}

.dark-theme code:not(pre code) {
    background-color: #3a3a3a;
    color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e0000;
        color: #e0e0e0;
        --color-text: #e0e0e0;
        --color-background: #260000;
        --color-primary: #d45858;
    }

    h1, h2 {
        color: #ff7e5f;
        background-image: linear-gradient(45deg, rgb(255, 108, 59) , #FF3300 25%, #eb280a 50%, #cf1e0a 75%, #f53535 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    code:not(pre code) {
        background-color: #3a3a3a;
        color: #e0e0e0;
    }
}