.pagination-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination-item {
  margin: 0 5px;
}

.pagination-previous,
.pagination-next {
  font-weight: bold;
}

.pagination-item.active {
  text-decoration: underline;
}

.pagination-next a span,
.pagination-previous a span {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.pagination-next a::after,
.pagination-previous a::before {
  font-weight: normal;
}

.pagination-next a::after {
  content: " »";
}

.pagination-previous a::before {
  content: "« ";
}
