.site-header {
    padding: 20px 8px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
    position: sticky;
    top: 0;
}

.site-header nav {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.site-header nav a,
.site-header nav a span {
    font-weight: 500;
    text-decoration: none;
}

.site-header .rss-link {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.site-header .rss-icon {
    width: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
}