.site-header {
    padding: 20px 8px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
    position: sticky;
    top: 0;
    z-index: 3;
}

.site-header nav {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.site-header nav a,
.site-header nav a span {
    font-weight: 500;
    text-decoration: none;
}

.site-header .rss-link {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.site-header .rss-icon {
    width: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-theme .site-header {
    /* border-bottom: 1px solid var(--color-border); */
    background-color: #1e0000;
    background-color: #260000;
}

@media (prefers-color-scheme: dark) {
    .site-header {
        /* border-bottom: 1px solid var(--color-border); */
        background-color: #1e0000;
        background-color: #260000
    }
}