.docs-archive__main-section {
  padding: 20px 10px;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.docs-archive__title.page-header__title {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.docs-archive__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* 2 columns */
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 1.5rem;
  margin-top: 2rem;
}

.docs-archive__card {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--color-background-secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
}

.dark-theme .docs-archive__card {
  background-color: #260000;
}

.docs-archive__card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.docs-archive__card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.docs-archive__card-description {
  font-size: 1rem;
  color: var(--color-text-secondary);
}

@media (min-width: 768px) {
  .docs-archive__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .docs-archive__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (prefers-color-scheme: dark) {
  .docs-archive__card {
    background-color: #260000;
  }
}