.docs-page__main {
  width: 100%;
  min-width: 0;
}

.docs-page__content-wrapper {
  /* splits up main content and sidebar */
  display: flex;
  gap: 20px;
}

main:has(.docs-page__main-section) {
  flex: 1;
}

.docs-page__main-section.main-section {
  width: 100%;
  max-width: 800px;
}

.docs-page__mobile-nav-container {
  display: none;
  z-index: 2;
}
@media (max-width: 992px) {
  .docs-page__mobile-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 60px;
    background-color: var(--color-background);
    padding: 10px;
    border-bottom: 1px solid var(--color-border);
  }
}
