:root:has(.sidebar--open) {
  overflow: clip;
}

.this-page-sidebar {
  border: 1px solid var(--color-border);
  position: sticky;
  top: 62px;
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  scrollbar-width: thin;
  background: var(--color-background);
  z-index: 3;

  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  transform: translate(620px, 0);
  transition: transform 0.2s ease-in-out;
  min-width: 80vw;
}
.this-page-sidebar.sidebar--open {
  transform: translate(0, 0);
  transition: transform 0.2s ease-in-out;
}
.this-page-sidebar.sidebar--closed {
  display: none;
}
/* Make rest of page inert when sidebar is open */
body:has(.this-page-sidebar.sidebar--open) .this-page-sidebar ~ *,
body:has(.this-page-sidebar.sidebar--open) > * > footer,
body:has(.this-page-sidebar.sidebar--open) > * > main,
body:has(.this-page-sidebar.sidebar--open)
  > *
  > header
  > *:not(.this-page-sidebar__toggle),
body:has(.this-page-sidebar.sidebar--open)
  > *
  > .docs-page__mobile-nav-container {
  pointer-events: none;
  user-select: none;
}
body:has(.this-page-sidebar.sidebar--open) .this-page-sidebar ~ *::after,
body:has(.this-page-sidebar.sidebar--open) > * > footer::after,
body:has(.this-page-sidebar.sidebar--open) > * > main::after,
body:has(.this-page-sidebar.sidebar--open)
  > *
  > header
  > *:not(.this-page-sidebar__toggle)::after,
body:has(.this-page-sidebar.sidebar--open)
  > *
  > .docs-page__mobile-nav-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.this-page-sidebar__close-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-border);
}
.this-page-sidebar__title {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid var(--color-border);
}
.this-page-sidebar__nav {
  padding: 1rem;
  width: 100%;
}
.this-page-sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.this-page-sidebar__item {
  margin-bottom: 0.5rem;
}
.this-page-sidebar__link {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;
}
.this-page-sidebar__link:hover {
  text-decoration: underline;
}
.this-page-sidebar__toggle {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-primary);
}
.this-page-sidebar__link::before {
  /* Make link bold without shifting layout */
  content: attr(data-content);
  font-weight: bold; /* This sets the width */
  text-decoration: underline;
  display: block;
  height: 0;
  overflow: hidden; /* Hides the content visually */
  visibility: hidden; /* Ensures it is hidden from view and screen readers */
}
.this-page-sidebar__link--active {
  font-weight: 700;
  text-decoration: underline;
}
.this-page-sidebar__item--h3 {
  margin-left: 10px;
  font-size: 0.95em;
}
.this-page-sidebar__item--h3 > a {
  font-size: 0.95em;
}
.this-page-sidebar__item--h4 {
  margin-left: 20px;
}
.this-page-sidebar__item--h4 > a {
  font-size: 0.9em;
}

@media (min-width: 992px) {
  .this-page-sidebar {
    position: sticky;
    top: 62px;
    transform: translate(0, 0);
    height: calc(100vh - 62px);
    height: calc(100svh - 62px);
    z-index: 2;
    border-top: none;
    border-bottom: none;
    border-right: none;
    display: block;
    min-width: 208px;
    max-width: 268px;
    width: 25%;
  }
  .this-page-sidebar.sidebar--closed {
    display: block;
  }
  .this-page-sidebar__toggle {
    display: none;
  }
  .this-page-sidebar__close-container {
    display: none;
  }
}
