pre { line-height: 125%; }
.codehilite { border-radius: 5px; }
td.linenos .normal { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #6e7681 }
.codehilite { background: #1d2331; color: #D4D2C8 }
.codehilite .c { color: #959077 } /* Comment */
.codehilite .err { color: #F88F7F; background-color: #1E0010 } /* Error */
.codehilite .esc { color: #F8F8F2 } /* Escape */
.codehilite .g { color: #F8F8F2 } /* Generic */
.codehilite .k { color: #FFAD66 } /* Keyword */
.codehilite .l { color: #D5FF80 } /* Literal */
.codehilite .n { color: #F8F8F2 } /* Name */

.codehilite .n { color: #D5FF80 } /* Name */

.codehilite .o { color: #FFAD66 } /* Operator */
.codehilite .x { color: #F8F8F2 } /* Other */
.codehilite .p { color: #D4D2C8 } /* Punctuation */
.codehilite .ch { color: #959077 } /* Comment.Hashbang */
.codehilite .cm { color: #959077 } /* Comment.Multiline */
.codehilite .cp { color: #959077 } /* Comment.Preproc */
.codehilite .cpf { color: #959077 } /* Comment.PreprocFile */
.codehilite .c1 { color: #959077 } /* Comment.Single */
.codehilite .cs { color: #959077 } /* Comment.Special */
.codehilite .gd { color: #F88F7F; background-color: #3D1E20 } /* Generic.Deleted */
.codehilite .ge { color: #F8F8F2; font-style: italic } /* Generic.Emph */
.codehilite .ges { color: #F8F8F2; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #F8F8F2 } /* Generic.Error */
.codehilite .gh { color: #F8F8F2 } /* Generic.Heading */
.codehilite .gi { color: #6AD4AF; background-color: #19362C } /* Generic.Inserted */
.codehilite .go { color: #FFAD66 } /* Generic.Output */
.codehilite .gp { color: #FFAD66; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { color: #F8F8F2; font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #959077 } /* Generic.Subheading */
.codehilite .gt { color: #F8F8F2 } /* Generic.Traceback */

.codehilite .kc { color: #FFAD66 } /* Keyword.Constant */
.codehilite .kc { color: #6AD4AF } /* Keyword.Constant */

.codehilite .kd { color: #FFAD66 } /* Keyword.Declaration */
.codehilite .kn { color: #FFAD66 } /* Keyword.Namespace */
.codehilite .kp { color: #FFAD66 } /* Keyword.Pseudo */
.codehilite .kr { color: #FFAD66 } /* Keyword.Reserved */
.codehilite .kt { color: #FFAD66 } /* Keyword.Type */
.codehilite .ld { color: #E6DB74 } /* Literal.Date */
.codehilite .m { color: #DFBFFF } /* Literal.Number */
.codehilite .s { color: #E6DB74 } /* Literal.String */
.codehilite .na { color: #6AD4AF } /* Name.Attribute */
.codehilite .nb { color: #F8F8F2 } /* Name.Builtin */
.codehilite .nc { color: #6AD4AF } /* Name.Class */
.codehilite .no { color: #FFAD66 } /* Name.Constant */
.codehilite .nd { color: #6AD4AF } /* Name.Decorator */
.codehilite .ni { color: #F8F8F2 } /* Name.Entity */
.codehilite .ne { color: #6AD4AF } /* Name.Exception */
.codehilite .nf { color: #6AD4AF } /* Name.Function */
.codehilite .nl { color: #F8F8F2 } /* Name.Label */

.codehilite .nn { color: #F8F8F2 } /* Name.Namespace */
.codehilite .nn { color: #6AD4AF } /* Name.Namespace */

.codehilite .nx { color: #6AD4AF } /* Name.Other */
.codehilite .py { color: #F8F8F2 } /* Name.Property */
.codehilite .nt { color: #FFAD66 } /* Name.Tag */

.codehilite .nv { color: #F8F8F2 } /* Name.Variable */
.codehilite .nv { color: #FFD173 } /* Name.Variable */
.codehilite .nv { color: #6AD4AF } /* Name.Variable */


.codehilite .ow { color: #FFAD66 } /* Operator.Word */
.codehilite .pm { color: #F8F8F2 } /* Punctuation.Marker */
.codehilite .w { color: #F8F8F2 } /* Text.Whitespace */
.codehilite .mb { color: #DFBFFF } /* Literal.Number.Bin */
.codehilite .mf { color: #DFBFFF } /* Literal.Number.Float */
.codehilite .mh { color: #DFBFFF } /* Literal.Number.Hex */
.codehilite .mi { color: #DFBFFF } /* Literal.Number.Integer */
.codehilite .mo { color: #DFBFFF } /* Literal.Number.Oct */
.codehilite .sa { color: #F29E74 } /* Literal.String.Affix */
.codehilite .sb { color: #D5FF80 } /* Literal.String.Backtick */
.codehilite .sc { color: #D5FF80 } /* Literal.String.Char */
.codehilite .dl { color: #D5FF80 } /* Literal.String.Delimiter */
.codehilite .sd { color: #7E8AA1 } /* Literal.String.Doc */
.codehilite .s2 { color: #D5FF80 } /* Literal.String.Double */
.codehilite .se { color: #95E6CB } /* Literal.String.Escape */
.codehilite .sh { color: #D5FF80 } /* Literal.String.Heredoc */
.codehilite .si { color: #95E6CB } /* Literal.String.Interpol */
.codehilite .sx { color: #95E6CB } /* Literal.String.Other */
.codehilite .sr { color: #95E6CB } /* Literal.String.Regex */
.codehilite .s1 { color: #D5FF80 } /* Literal.String.Single */
.codehilite .ss { color: #DFBFFF } /* Literal.String.Symbol */
.codehilite .bp { color: #5CCFE6 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #FFD173 } /* Name.Function.Magic */
.codehilite .vc { color: #F8F8F2 } /* Name.Variable.Class */
.codehilite .vg { color: #F8F8F2 } /* Name.Variable.Global */
.codehilite .vi { color: #F8F8F2 } /* Name.Variable.Instance */

.codehilite .vm { color: #F8F8F2 } /* Name.Variable.Magic */
.codehilite .vm { color: #6AD4AF } /* Name.Variable.Magic */


.codehilite .il { color: #DFBFFF } /* Literal.Number.Integer.Long */


