@frontmatter
{
    "title": "Shodo - Docs",
    "description": "Documentation for Shodo, a static site generator.",
    "author": "Ryan Phillips"
}
@endfrontmatter

<div class="container">
{% include 'partials/site-header.jinja' %}
<main>
    <section class="main-section">
        <h1 class="page-header__title">Shodo - Docs</h1>
        <div>
            {{ docs.content }}
        </div>
    </section>
</main>
{% include 'partials/footer.jinja' %}
</div>