@frontmatter
{
    "title": "Shodo - Static Site Generator",
    "description": "Shodo is a flexible Python-based static site generator using Jinja templates and Markdown. Build fast, SEO-friendly websites with powerful templating, JSON data queries, pagination, and RSS feed support.",
    "author": "Ryan Phillips",
    "og_title": "Shodo | Static Site Generator",
    "og_description": "A flexible framework for generating static sites using Python, Jinja, and Markdown. Build fast, SEO-friendly websites with powerful templating, JSON data queries, pagination, and RSS feed support.",
    "head_extra": [
        "<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css' />"
    ]
}
@endfrontmatter

<div class="container">
{% include 'partials/site-header.jinja' %}
<main>
    <header class="homepage-header">
    <h1 class="page-header__title"><span>Shodo</span> <span class="secondary">Static Site Generator</span></h1>
    <p class="homepage-header__subtitle">A flexible framework for generating static sites.</p>
    <div class="cta-buttons">
        <a class="cta-btn-primary" href="/docs/getting-started/">Get Started</a>
        <a class="cta-btn-secondary" href="https://github.com/ryanmphill/shodo-static-gen">View <i class="devicon-github-original"></i> GitHub</a>
    </div>
    </header>
    <section class="main-section">
        {{ homepage.content }}
    </section>
</main>
{% include 'partials/footer.jinja' %}
</div>