<aside class="docs-sidebar">
    <div class="docs-sidebar__close-container">
        <button class="docs-sidebar__toggle" aria-label="Close documentation sidebar" aria-expanded="true">
            ✕
        </button>
    </div>
    <h4 class="docs-sidebar__title">Docs</h4>
    <nav class="docs-sidebar__nav">
        <ul class="docs-sidebar__list">
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/getting-started/" data-content="Getting Started">Getting Started</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/configuration/" data-content="Configuration">Configuration</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/templates/" data-content="Templates">Templates</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/project-structure/" data-content="Project Structure">Project Structure</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/frontmatter/" data-content="Frontmatter">Frontmatter</a></li>
            {# <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/content-management/" data-content="Content Management">Content Management</a></li> #}
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/cli/" data-content="Command Line Interface">Command Line Interface</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/template-api-functions/" data-content="Template API Functions">Template API Functions</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/pagination/" data-content="Pagination">Pagination</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/javascript-build-step/" data-content="JavaScript Build Step">JavaScript Build Step</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/feed-guide/" data-content="RSS/Atom Guide">RSS/Atom Guide</a></li>
            <li class="docs-sidebar__item"><a class="docs-sidebar__link" href="/docs/deployment/" data-content="Deployment">Deployment</a></li>
        </ul>
    </nav>
</aside>
