<footer>
    {# <nav>
        <div><a href="/">Home</a></div>
        <div><a href="/docs">Docs</a></div>
        <div><a href="https://github.com/ryanmphill/shodo-static-gen">GitHub</a></div>
        <div><a href="https://pypi.org/project/shodo-ssg/">PyPi</a></div>
    </nav> #}
    <p>Released under the <a href="https://opensource.org/licenses/MIT">MIT License</a></p>
    <p>Copyright &copy; 2025 Ryan Phillips. All rights reserved.</p>
</footer>